{% extends "base.html" %}

{% block content %}

<div class="container">
    <h3 class="text-center">Book detail</h3>
    <br>
    <br>
    <table class="table table-bordered">
    <tr>
        <th>Category</th>
        <td>{{book['category']}} - {{book['sub_category']}}</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>{{book['title']}}</td>
    </tr>
    <tr>
        <th>Image</th>
        <td><img src="{{book['images']}}" /></td>
    </tr>
    <tr>
        <th>Author</th>
        <td>{{book['author']}}</td>
    </tr>
    <tr>
        <th>Date Published</th>
        <td>{{book['datePublished']}}</td>
    </tr>
    <tr>
        <th>Number Of Pages</th>
        <td>{{book['numberOfPages']}}</td>
    </tr>
    <tr>
        <th>Price</th>
        <td>{{book['price']}}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{book['description']}}</td>
    </tr>
</table>

    <a href="/">Back to home</a>
</div>


{% endblock %}